/* === COMMON === */
body {
	background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52) !important;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif !important;
}
.ui-content  {padding-top: 0px;}
.ui-page{background : transparent;}
.ui-icon-loading {background: url('/images/ajax-loader.gif');background-size: 46px 46px;}
.in, .out {    -webkit-animation-timing-function: ease-in-out;    -webkit-animation-duration: 350ms !important;}

#logoImg {
	padding-top: 17px;
	margin-top: 180px;
	border: none;
}
#alertPopUp{
	display: none;
	padding: 20px;
	border-radius: 10px;
	background-color: #D4D9DB;
	background: #7f7f7f; 
 	background: rgba(221, 27, 65, 0.6);
	color: #FFFFFF;
	text-shadow: none;
	font-size: 12px;
}
.buttonHover{
	display: inline-block;
	width: 70px;
	border-radius: 5px;
	background-color: #D4D9DB;
	color: #333 ;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	box-shadow:1px 1px 5px #000000;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.buttonHover:hover{
	-webkit-filter: brightness(50%);
}