/* === COMMON === */
body {
	background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52) !important;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif !important;
}
.ui-content  {padding-top: 0px;}
.ui-page{background : transparent;}
.ui-icon-loading {background: url('/images/ajax-loader.gif');background-size: 46px 46px;}
.in, .out {    -webkit-animation-timing-function: ease-in-out;    -webkit-animation-duration: 350ms !important;}

.logoImg {
	background-image: url('/images/logo_fcb_penyes_250x90.png');background-repeat: no-repeat;background-size: auto 100%;background-position:center center;
	height: 50px; display: block;overflow:hidden;
	margin-top: 220px;
}

.logoImgWrapper{
	height: 500px;
}