/* F
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-f {
	border: 1px solid 		#b3b3b3 /*{c-bar-border}*/;
	background: 			#eee /*{c-bar-background-color}*/;
	color: 					#3e3e3e /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 1px /*{c-bar-shadow-radius}*/ 	#fff /*{c-bar-shadow-color}*/;
	background-image: -webkit-linear-gradient( #f0f0f0 /*{c-bar-background-start}*/, #ddd /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
}
.ui-bar-f .ui-link-inherit {
	color: 	#3e3e3e /*{c-bar-color}*/;
}
.ui-bar-f a.ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-f a.ui-link:visited {
    color: #2489ce /*{c-bar-link-visited}*/;
}
.ui-bar-f a.ui-link:hover {
	color: #2489ce /*{c-bar-link-hover}*/;
}
.ui-bar-f a.ui-link:active {
	color: #2489ce /*{c-bar-link-active}*/;
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			yellow /*{c-body-background-color}*/;
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: 	#333 /*{c-body-color}*/;
}
.ui-body-f .ui-link {
	color: #2489ce /*{c-body-link-color}*/;
	font-weight: bold;
}
.ui-body-f .ui-link:visited {
    color: #2489ce /*{c-body-link-visited}*/;
}
.ui-body-f .ui-link:hover {
	color: #2489ce /*{c-body-link-hover}*/;
}
.ui-body-f .ui-link:active {
	color: #2489ce /*{c-body-link-active}*/;
}
.ui-btn-up-f {
	font-weight: bold;
	color: 					#ce9102 /*{c-bup-color}*/;
	background-image: -webkit-linear-gradient( #000C52 /*{c-bup-background-start}*/, #970F23 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */

}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: 					#ce9102 /*{c-bup-color}*/;
}
.ui-btn-hover-f, .ui-btn-down-f {
	font-weight: bold;
	color: 					yellow /*{c-bup-color}*/;
	background-image: -webkit-linear-gradient( blue /*{c-bup-background-start}*/, #970F23 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */

}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: 					yellow /*{c-bhover-color}*/;
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: 					yellow /*{c-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}
