#filterPopup { 
	display:none;
    vertical-align:middle;
	width: 95%;
	padding-left:4px;
	padding-right:4px;
	position: absolute;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 25px 5px #999;
	background: -webkit-linear-gradient(left, #030C51 0%,#030C51 40%,#970F23 60%,#970F23 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right, #030C51 0%,#030C51 40%,#970F23 60%,#970F23 100%); /* W3C */	
 }
 .closer.filter{
 	width: 30px;
 	background-image: url('/images/close-button-blue.png');
 }
 #filterPopup .ui-field-contain{
 	padding: 0;
 }
 .innerTextfilterPopupHeader{
	text-align: center;color: #7397D3;font-weight: bold;font-size: 18px;height: 30px;text-shadow: none;padding-top: 10px
 }
 .innerTextfilterPopupBottom{
 	display: inline-block;text-align: center;width: 49%;font-size: 15px;padding-bottom: 4px;
 }
 .filterLogo.filter{
 	margin-top: 10px;
 	width: 30px;
 }
 
 .filterPopupInputTitle{
 	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bolder;
	font-size: 16px;
 }

 .filterPopupInput{
 	padding-bottom: 20px;
 	padding-left: 12px;
	padding-right: 12px;
 }
 .filterPopupInput.bottomLine{

 	border-bottom: #B4B18B;
	border-bottom-width: 1px;
	border-bottom-style: solid;
 }
  
 #filterPopup .ui-controlgroup-controls{
 	width: inherit;	
 }

 #filterPopup .ui-field-contain{
 	height: 100%;	
}
#innerfilterPopup {  
	background-color: #D4D9DB;
	height: 70%;
	margin:2px;
	border-radius: 10px 10px 10px 10px;
}
#innerfilterPopupHeader { 
	display: block;
	padding: 5px 12px 5px 12px;
	text-shadow: none;
	color: white;
}
#innerfilterPopupBottom { 
	display: block;
	padding: 5px;
	text-shadow: none;
	color: #7397D3;
	font-weight: bold;
}
 .filter1{
 	display: inline-block;
 	padding: 6px 6px 0px 6px;
 	vertical-align: super;
 } 
 
 .custom-button {
    height: 50px !important;
}

.custom-button .ui-btn-inner {
    padding: 0 !important;    
}

.custom-button .ui-btn-inner .ui-btn-text {
    display: block !important;
    height: 50px !important;
    background-repeat: no-repeat  !important;
    background-position: center  !important; 
}

.custom-button.catalonia .ui-btn-inner .ui-btn-text {
    width: 50px !important;
    background-image: url('/images/catalonia.png')  !important;
    background-size: 40px;
}

.custom-button.spain .ui-btn-inner .ui-btn-text {
    width: 50px !important;
    background-image: url('/images/spain.png')  !important;
    background-size: 40px;
}

.custom-button.europe .ui-btn-inner .ui-btn-text {
    width: 48px !important;
	background-image: url('/images/europe.png')  !important;
    background-size: 37px;
}

.custom-button.world .ui-btn-inner .ui-btn-text {
	width: 72px !important;
    background-image: url('/images/world.png')  !important;
    background-size: 65px;
} 
.buttonHover{
	display: inline-block;
	width: 70px;
	border-radius: 5px;
	background-color: #D4D9DB;
	color: #333 ;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
}
.buttonHover:hover{
	-webkit-filter: brightness(50%);
}

}