.splash {align: center;}
body {background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52) !important;}
.ui-page, .ui-header , .ui-footer{background : transparent;}
.ui-header {height: 50px;border-bottom: none !important;padding-top: 17px !important;}
.ui-footer {height: 50px;border-top: none !important;}
.ui-page,.ui-body-c {background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52);}
.fade.out {	opacity: 0;	-webkit-animation-duration: 725ms;	-webkit-animation-name: fadeout;	-moz-animation-duration: 725ms;	-moz-animation-name: fadeout;}
.fade.in {	opacity: 1;	-webkit-animation-duration: 725ms;	-webkit-animation-name: fadein;	-moz-animation-duration: 725ms;	-moz-animation-name: fadein;}
.quickfade.out {	opacity: 0;	-webkit-animation-duration: 50ms;	-webkit-animation-name: fadeout;	-moz-animation-duration: 50ms;	-moz-animation-name: fadeout;}
.quickfade.in {	opacity: 1;	-webkit-animation-duration: 50ms;	-webkit-animation-name: fadein;	-moz-animation-duration: 50ms;	-moz-animation-name: fadein;}
.ui-icon-loading {background: url(../images/ajax-loader.gif);background-size: 46px 46px;}
.iscroll-content {padding-top: 0px !important;padding-bottom: 0px !important;}


/* === FOOTER BAR === */
.navMenu{padding-top: 7px;padding-bottom: 7px}
.ui-footer {background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52);}
.ui-footer .ui-btn {background: transparent;height: 40px;}
.ui-footer .ui-btn-active {background: none rgba(37, 25, 122, 0.22);border: none;-webkit-filter:none}
.ui-footer .ui-navbar li .ui-btn { height: 100%;}
.ui-footer .ui-btn-inner {padding-top: 23px !important;}
.ui-footer .ui-btn-text {font-size: 10px;text-shadow: none;color: white;font-style: normal;font-weight: normal;}
.ui-footer .ui-icon-custom.ui-icon {width: 30px;height: 28px;}
.ui-footer .ui-icon-shadow {-webkit-box-shadow: none;-moz-box-shadow: none;	-o-box-shadow: none;box-shadow: none;}
#tabList .ui-icon {background: url('../images/icon_list_bullets.png') 0 0 no-repeat;margin-left: -15px;margin-top: -7px;-moz-border-radius: 0px;-webkit-border-radius: 0px;	border-radius: 0px;}
#tabMap .ui-icon {background: url('../images/map_icon.png') 0 0 no-repeat;background-size: 50%;margin-left: -7px;margin-top: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;	border-radius: 0px;}

/* === WELCOME PAGE === */
#ValkomenLogo {width: 100%;}
#WelcomeWrapper {padding-left:5px;padding-right:5px;}


/* === HEADER BAR === */
#headerLogo {
	background-image: url('/images/logo_fcb_penyes_250x90.png');background-repeat: no-repeat;background-size: auto 100%;background-position:0px -4px;
	height: 100%; margin-left: 12px ; margin-right: 0px;
}
.headerLogoImg {
	background-image: url('/images/logo_fcb_penyes_250x90.png');background-repeat: no-repeat;background-size: auto 100%;background-position:center center;
	height: 50px; display: block;overflow:hidden;
}

/* === LIST PENYES === */
.ui-content .ui-listview-inset { margin: 0;}
.ui-listview .ui-li-icon { max-height: 50px; max-width: 55px; left: 5px; top: 5px;}
.ui-listview li.ui-btn-active {
	border: none/*{c-bdown-border}*/;
	background: 			#d6d6d6 /*{c-bdown-background-color}*/;
	font-weight: normal;
	color: 	#2f3e46 ;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
	-webkit-filter:none;
}
.ui-listview li.ui-btn-active a.ui-link-inherit {
	color: #2f3e46 /*{global-active-color}*/;
	font-weight: normal;
	text-shadow:none;
	border: none;

}​
.coat {float: left;}
.description {margin-left:55px;margin-right: 0px;display: inline-block;}
.namePenya{	font-weight: bold;font-size: large;}
.moreinfo{margin-left:55px;margin-right: 7px;font-weight: normal;font-size: x-small;}
.location{display: inline-block; }
.fundationYear{float:right; display: inline-block;width: 85px;}
.rightarrow{float: right;display: inline-block;height: 40px;}
.icon-arrow{max-width: 7px;margin-top: 15px;margin-left: 1px;}
 .ui-li .ui-btn-inner a.ui-link-inherit.penyaBean { padding: .7em 5px; }

 
 /* === DETAIL PENYA === */
.div_padding_v{margin-bottom: 10px;}
.ui-bar-ipenyes {border: 1px solid #b3b3b3;background: white;font-weight: bold;padding: 5px;}
.detailPenyes_coat {width: 100px;float:left;}
.detailPenyes_description {width: 90%;height:80px;padding:10px;background-color: white;left: 100px;}
.desc-icon { max-height: 100px; max-width: 100px;}
.detailPenyes_fundation{font-size: 10px;padding-top: 35px;text-align: right;}
.headerBtnBack{display:inline-block; float: left;margin-top:3px;margin-left: 5px;}
.headerLogoInner{display:inline-block; float: right;margin-top:3px;margin-right: 17px;}
#googlePin{width: 17px;}
#googlePinSpan:down {opacity: 0.6;}
#mapLogo{width: 17px;}
#mapLogo:hover{-webkit-filter: brightness(150%);}
#mapLogo:down{-webkit-filter: brightness(150%);}
#filterimage{width: 17px;}


/* === MAP PENYES === */
#map_canvasWrapper {height:100%;padding:5px;min-height: 0px;background-color: #B2D1FF !important;}
#map_canvas {height:100%;min-height: 0px;}
#contentMap{padding-top: 0px !important;}






