/* === COMMON === */
body {background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52) !important;margin: 0px;padding: 0px;}
.ui-content  {padding-top: 0px;}
.ui-page{background : transparent;}
.ui-icon-loading {background: url(../images/ajax-loader.gif);background-size: 46px 46px;}
.in, .out {    -webkit-animation-timing-function: ease-in-out;    -webkit-animation-duration: 350ms !important;}

/* === HEADER BAR === */
.ui-header {height: 50px;border-bottom: none !important;padding-top: 17px !important;}
#headerLogo {
	background-image: url('/images/logo_fcb_penyes_250x90.png');background-repeat: no-repeat;background-size: auto 100%;background-position:0px -4px;
	height: 100%; margin-left: 12px ; margin-right: 0px;
}
.headerLogoImg {
	background-image: url('/images/logo_fcb_penyes_250x90.png');background-repeat: no-repeat;background-size: auto 100%;background-position:center center;
	height: 50px; display: block;overflow:hidden;
}
.ui-header {background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52);}

/* === FOOTER BAR === */
.ui-footer {height: 50px;border-top: none !important;}
.navMenu{padding-top: 7px;padding-bottom: 7px}
.ui-footer {background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52);}
.ui-footer .ui-btn {background: transparent;height: 40px;}
.ui-footer .ui-btn-active {background: none rgba(37, 25, 122, 0.22);border: none;-webkit-filter:none}
.ui-footer .ui-navbar li .ui-btn { height: 100%;}
.ui-footer .ui-btn-inner {padding-top: 23px !important;}
.ui-footer .ui-btn-text {font-size: 10px;text-shadow: none;color: white;font-style: normal;font-weight: normal;}
.ui-footer .ui-icon-custom.ui-icon {width: 30px;height: 28px;}
.ui-footer .ui-icon-shadow {-webkit-box-shadow: none;-moz-box-shadow: none;	-o-box-shadow: none;box-shadow: none;}
#tabList .ui-icon {background: url('../images/icon_list_bullets.png') 0 0 no-repeat;margin-left: -15px;margin-top: -7px;-moz-border-radius: 0px;-webkit-border-radius: 0px;	border-radius: 0px;}
#tabMap .ui-icon {background: url('../images/map_icon.png') 0 0 no-repeat;background-size: 50%;margin-left: -7px;margin-top: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;	border-radius: 0px;}

/* === LIST PENYES === */

#loadmoreajaxloader{background-image: url('/images/ajax-loader-infinite.gif');background-repeat: no-repeat;background-size: auto;background-position:center center;
	 display: block;overflow:hidden;}
	 

.ui-content .ui-listview-inset { margin: 0;}
.ui-listview .ui-li-icon { max-height: 50px; max-width: 55px; left: 5px; top: 5px;}
.ui-listview li.ui-btn-active {
	border-width:0px;
	border: 1px solid #bbb;
	border-bottom: none;
	background: #d6d6d6 ;
	font-weight: normal;
	color: 	#2f3e46 ;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ECEFF3 /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
	-webkit-filter:none;
}
.ui-listview li.ui-btn-active a.ui-link-inherit {
	color: #2f3e46 /*{global-active-color}*/;
	font-weight: normal;
	text-shadow:none;
	border: none;

}​
.coat {float: left;}
.description {margin-left:55px;margin-right: 0px;display: inline-block;}
.namePenya{	font-weight: bold;font-size: large;}
.moreinfo{margin-left:55px;margin-right: 7px;font-weight: normal;font-size: x-small;}
.location{display: inline-block; }
.fundationYear{float:right; display: inline-block;width: 85px;}
.rightarrow{float: right;display: inline-block;height: 40px;}
.icon-arrow{max-width: 7px;margin-top: 15px;margin-left: 1px;}
 .ui-li .ui-btn-inner a.ui-link-inherit.penyaBean { padding: .7em 5px; }

/* === MAP PENYES === */
#map_canvasWrapper {height:100%;padding:5px;min-height: 0px;background-color: #B2D1FF !important;}
#map_canvas {height:100%;min-height: 0px;}
#contentMap{padding-top: 0px !important;}
 
 /* === DETAIL PENYA === */
#detailPenyes{ background: -webkit-linear-gradient(left,#000C52,#970F23 35%,#970F23 65%,#000C52) !important;}
.div_padding_v{margin-bottom: 10px;}
.detailPenyes_divheader {border: 1px solid #b3b3b3;background-color: #ECEFF3;font-weight: bold;padding: 5px;height:100px;}
.detailPenyes_coat {width: 120px;float:left;}
.detailPenyes_description {width: 90%;height:80px;padding:10px;background-color: #ECEFF3;left: 100px;}
.desc-icon { max-height: 100px; max-width: 100px;}
.detailPenyes_fundation{font-size: 10px;padding-top: 14px;text-align: right;}
.headerBtnBack{display:inline-block; float: left;margin-top:3px;margin-left: 5px;}
.headerLogoInner{display:inline-block; float: right;margin-top:3px;margin-right: 17px;}
#filterimage{width: 17px;}
#detailLeft{float: left;padding-left: 15px;padding-top:18px;width: 70px;}
#detailRight{float: right;padding-right: 18px;padding-top:7px;width: 70px;text-align: right;}
.detailPenyes_div{border: 1px solid #b3b3b3;background: #ECEFF3;font-weight: normal; font-size: small;padding: 10px;padding-left: 20px;padding-right: 20px;}

#ios-arrow-left span.ui-btn-inner{
	display: inline;
	border: none;
	padding: 5px 7px 0 6px;
	font-size:11px;
	top: 4px;
	text-shadow: none;
}
#ios-arrow-left {
    left:20px;/*change the position*/
    top:22px;/*change the position*/   
    position:absolute;
    background-repeat:repeat-x;
    background-color: #8F0418;/*change this and the background color for the :before element*/
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    height:27px;
    z-index : 0;
    border:none;
    border-radius: 6px;
    -webkit-border-top-left-radius : 10px 15px;
    -webkit-border-bottom-left-radius : 10px 15px;
   /*  border-bottom: 1px solid rgba(255,255,255,0.3); */
    box-shadow :-1px -1px 0px rgba(0,0,0,0.2)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
    font-size : 11px;
    display : block; 
    text-align:center;
    color:#C0AA61;
    text-shadow : 0px -1px 0px #000;
    line-height : 20px;
    font-weight: 700;
    -webkit-background-size : 20px;
}
 
 #ios-arrow-left:before{
    position:absolute;
    top:14.9%;
    left:-4px;

    background-color: #8F0418;/*change to the same as the main element*/
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 
    height : 15px;
    width: 20px;
   
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    z-index : 1;
    content : ' ';
   -webkit-border-left: 100px solid orange;
   -webkit-border-top: 50px solid transparent;
   -webkit-border-bottom: 50px solid transparent;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.33,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}  
#ios-arrow-left:hover{
	-webkit-filter: brightness(50%);
}
#ios-arrow-left.ui-btn-active {
	border: none;
	color: none;
	-webkit-filter: brightness(50%);
}
#ios-arrow-left:hover span.ui-btn-text{
	-webkit-filter: brightness(140%);
}

#mapLogo{
width: 16px;
padding: 4px 10px 4px 10px;
background-color: transparent;
-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,0);
box-shadow: 0px 1px 0 rgba(255,255,255,0); 
}
#mapLogo:hover{
background-color: #transparent;
-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
box-shadow: 0 0 1px rgba(255,255,255,.3);
-webkit-border-radius: 10px;
-webkit-filter: brightness(50%);
}
.socialneticon:hover{-webkit-filter: brightness(50%);}
.socialneticon{-webkit-filter: brightness(100%);}
		
.iosSlider {
	left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 1024px;
    height: 200px;
    overflow: visible !important;
}
.iosSlider.horizontal{ height: 280px;}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .photopenyaitem {
	float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;
  	background-size: 250px auto; 
  	background-repeat: no-repeat;
  	background-position: 0 0; 
  	margin-left: 5px;
}		
.iosSlider .slider .photopenyaitem.horizontal {background-size: 474px auto;}
.iosSlider .slider #item1 {background-image: url(../images/photosPenyes/PBSuecia/25674_375479747599_1075420_n.jpg);margin-left: 0px;}
.iosSlider .slider #item2 {background-image: url(../images/photosPenyes/PBSuecia/26194_374642007599_7429551_n.jpg);}
.iosSlider .slider #item3 {background-image: url(../images/photosPenyes/PBSuecia/525863_10150878688002600_479399075_n.jpg);}
.iosSlider .slider #item4 {background-image: url(../images/photosPenyes/PBSuecia/579861_10150878690297600_1131012138_n.jpg);}

.socialNetworks{
	margin-top: 10px;
	display: block;
}
.socialNetworks .socialneticon  {
	padding: 9px;
	display: inline;
	text-align: center;
}

.socialNetworks .socialneticon .icon  {
	width: 40px;
}

.subdetailPenyes_div{
	margin-bottom: 2px;
	margin-top: 2px;
	display: block;
}			
.subdetailPenyes_divheader{
	display: inline;
	font-weight: bolder;
}			
.subdetailPenyes_divvalue{
	margin-left: 10px;
	display: inline;
}

 /* === PHOTO PENYA === */
#fullScreen .ui-content{padding: 0px;margin: 0px;} 
#fullscreenimage{
	height: 100%;width: 100%;position: absolute;z-index: 1001;background: transparent;
	background: url(../images/photosPenyes/PBSuecia/25674_375479747599_1075420_n.jpg) no-repeat center left;
    background-size: 100% auto; top: -1px;
}
#closerWrapper{width: 100%;padding-top: 17px;}
#closer{
	z-index: 1002;background-color: aqua;position: relative;float: right;
}

