/* === LIST PENYES === */
.infiniteShadowTop{height: 10px;width: 100%; }
.innerInfiniteShadowTop{display:none;height: 100%;opacity: 0.9;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));}
.infiniteShadowBottom{height: 10px;width: 100%;z-index: 10;}
.innerInfiniteShadowBottom{display:none;height: 100%;opacity: 0.9;background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));}
	
.ui-content .ui-listview-inset { margin: 0;}
.ui-listview .ui-li-icon { max-height: 77px; max-width: 80px; left: 5px; top: 5px;}
.ui-listview li {
	border-width:0px;
    transition: 0s background-color;
    transition-delay:1s;
}
.ui-listview li:active {
	border-width:0px;
	border-bottom: none;
	background: #d6d6d6 ;
	font-weight: normal;
	color: 	#2f3e46 ;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ECEFF3 /*{c-bdown-shadow-color}*/;
	background-image: none;
	-webkit-filter:none;
	background-color:-webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */;    
    
}
.ui-listview li.ui-btn-active {
	border-width:0px;
	border: 1px solid #bbb;
	border-bottom: none;
	background: #d6d6d6 ;
	font-weight: normal;
	color: 	#2f3e46 ;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ECEFF3 /*{c-bdown-shadow-color}*/;
	background-color:-webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */; 
	-webkit-filter:none;
}
.ui-listview li.ui-btn-active a.ui-link-inherit {
	color: #2f3e46 /*{global-active-color}*/;
	font-weight: normal;
	text-shadow:none;
	border: none;

}

#morelistviewpenyes{
	display:none;
}

.innerLoadMore {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 15px;
	padding-top: 10px;
}

.innerLoadMore .buttonHover {
	width: 100%;
}

.coat {float: left;}
.description {margin-left:82px;margin-right: 0px;display: inline-block;}
.namePenya{	font-weight: bold;font-size: large;}
.moreinfo{margin-left:82px;margin-right: 7px;font-weight: normal;font-size: 12px;}
.location{display: block; }
.numSocios{float:left; width: 85px;}
.fundationYear{float:right; width: 100px;}
.rightarrow{float: right;display: inline-block;height: 65px;}
.icon-arrow{max-width: 7px;margin-top: 28px;margin-left: 1px;}
 .ui-li .ui-btn-inner a.ui-link-inherit.penyaBean { padding: .7em 5px; }

