/* === MAP PENYES === */
#map_canvasWrapper {height:100%;padding:5px;min-height: 0px;background-color: #B2D1FF !important;}
#map_canvas {height:100%;min-height: 0px;}
#contentMap{padding-top: 0px !important;}

.infowindowPenyes{

	background: -webkit-linear-gradient(left, #030C51 0%,#030C51 30%,#970F23 40%,#970F23 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right, #030C51 0%,#030C51 30%,#970F23 40%,#970F23 100%); /* W3C */	
	
	color: #FFFFFF ;
	font-size:11px;
	font-weight: normal;
	text-shadow:none;
	height: 111px;
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
}

.infowindowPenyes .coat {float: left;display: block;}
.infowindowPenyes .description {margin-left:106px;margin-right: 0px;display: block;}
.infowindowPenyes .description .namePenya {	color: #FFFFFF ;font-size:17px;	font-weight: normal;	text-shadow:none;}
.infowindowPenyes .moreinfo {margin-left:106px;margin-right: 0px;display: block;}
.infowindowPenyes .moreinfo .fundationYear{float: none;}

.ui-listview .ui-li-icon { max-height: 77px; max-width: 80px; left: 5px; top: 5px;}